language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "pypy"
  - "pypy3"
install: pip install -r requirements.txt &&  python setup.py develop
script:  python tests/delorean_tests.py
